
@using Syncfusion.Blazor.Popups


<SfDialog Width="120px" CssClass="loader-area" Height="120px" IsModal="true" @bind-Visible="IsLoaderVisible">
    <DialogTemplates>
        <Content>
            <div style="min-height:80px;height:80px">
                <div class="spinner"></div>
            </div>
        </Content>
    </DialogTemplates>
    <DialogAnimationSettings Effect="@DialogEffect.None"></DialogAnimationSettings>
</SfDialog>

@code{
    [Parameter]
    public bool IsLoaderVisible { get; set; } = true;
    [Parameter]
    public string Target { get; set; } = "#main_content";


    public async Task Show()
    {
        IsLoaderVisible = true;
        await Task.Delay(1);
        this.StateHasChanged();
    }
    public void Hide()
    {

        IsLoaderVisible = false;
        this.StateHasChanged();
    }
}


