@page "/author"
@page "/author/{id:int}"
@inject IJSRuntime JS

<div style="height:100%;">
    <div class="row" style="padding-bottom:10px;">
        <div class="col-md-2">
            <button @onclick="Back" type="button" class="btn btn-info" style="width:80%">
                Back
            </button>
        </div>
        <div class="col-md-10">
            <button @onclick:preventDefault @onclick="@Save" form="form" type="submit" class="btn btn-primary" style="float:right;width:20%;">Save</button>
        </div>
    </div>
    <div class="row" style="height:90%;display:block;">
        @if (model != null)
        {
            <EditForm EditContext="EditContext" id="form" style="">
                <DataAnnotationsValidator />
                <ServerSideErrors @ref="serverError"></ServerSideErrors>
                <fieldset>
                    <div class="validationErrorContainer">
                        <ValidationMessage style="font-size: 15px;background-color: lightcoral;border-radius: 5px;padding: 5px;margin-bottom: 10px;" For="@(() => model.ServerErrorField)"></ValidationMessage>
                    </div>
                    @if (model != null)
                    {
                        <AuthorDetails @ref="Details" model="@model">

                        </AuthorDetails>
                    }
                </fieldset>
            </EditForm>
        }
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    [CascadingParameter(Name = "MainLayout")]
    private MainLayout Layout { get; set; }
    ServerSideErrors serverError;
    AuthorDetails Details;
    EditContext EditContext;
    public AuthorViewModel model;



    protected override async Task OnInitializedAsync()
    {
        await Layout.ShowLoader();

        if (Id > 0)
        {
            model = await service.GetAuthor(Id);

        }
        else
        {
            model = new AuthorViewModel();
        }
        EditContext = new EditContext(model);

        Layout.HideLoader();
    }
    private async void Save()// TODO
    {
        await Layout.ShowLoader();
        bool isValid = Validate();
        if (isValid)
        {
            var response = await service.SaveAuthor(model);
            if (response.Result == Models.Enums.ResultCode.Success)
            {
                Layout.HideLoader();
                this.Back();
            }
            else
            {
                serverError.DisplayError<AuthorViewModel>(response); //TODO
            }
        }
        Layout.HideLoader();

    }



   /* public async Task Delete()
    {
        Layout.ShowLoader();
        var response = await service.DeleteCamera(model);

        if (response.Result == Models.Enums.ResultCode.Success)
        {
            Layout.HideLoader();

            this.Back();
        }
        else
        {
            serverError.DisplayError<CameraViewModel>(response);

        }
        Layout.HideLoader();

    }*/
    private async void Back()
    {
        await JS.InvokeVoidAsync("history.back");
    }
    public bool Validate()
    {
        return EditContext.Validate();
    }

}
