@page "/"

<div class="indexClass">Index page</div>

@code {
    [CascadingParameter(Name = "MainLayout")]
    private MainLayout Layout { get; set; }
    protected override async Task OnInitializedAsync()
    {
//await Layout.ShowLoader();
    }
}
